#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_bitcoin
#build/bitcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_bitcoin)

DEB_INSTALL_EXAMPLES_DARKMOONd += debian/examples/*
DEB_INSTALL_MANPAGES_DARKMOONd += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix DARKMOONd
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f DARKMOON-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake DARKMOON-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_DARKMOON
	src/test_DARKMOON

# Ensure wrapper is set executable
binary-post-install/DARKMOONd:
	chmod +x $(cdbs_curdestdir)usr/bin/DARKMOONd
binary-post-install/DARKMOON-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/DARKMOON-qt
